

body {
    font-family: Arial, sans-serif;
    background-color: #b932db;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #bf8ac8;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
}

.buttons button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.buttons button:last-child {
    margin-right: 0;
    cursor: pointer;
    background-color: #007bff;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.buttons button:hover {
    background-color: #0056b3;
    cursor: pointer;
}
#he
{
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
