body {
    font-family: Arial, sans-serif;
    background-color: #bc53cf;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #976f97;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #333;
}

a, button {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    max-width: 200px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

a:hover, button:hover {
    background-color: #0056b3;
    cursor: pointer;
}
